/* @media only screen and (orientation:landscape) {
    body {
        height: 100vw;
        transform: rotate(90deg);
    }
} */

body {
    /* font-family: 'Commissioner', sans-serif; */
    background-color: #F2F2F2;
    padding: 0;
    margin: 0;
}

.container-intro {
    display: grid;
    margin-bottom: 400px !important;
}

.container-survey, .container-review-end {
    margin-bottom: 200px !important;
}


#p6 .container-survey {
    margin-bottom: 0px !important;
}

.survey-main {
    margin-top: 200px !important;
}

.counter {
    margin-top: 100px;
}

.number {
    background: #DFE5EF;
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.20062), 10px 10px 20px rgba(110, 145, 209, 0.0789829);
    border-radius: 20px;
    font-family: Commissioner;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    text-align: center;
    color: #FFFFFF;
}

.div-back-grey {
    position: relative;
    width: 80%;
    height: 250px;
    left: 75px;
    top: 20%;
    /* background-color: rebeccapurple; */
    background: linear-gradient(243.62deg, #D8E0F0 0%, rgba(241, 245, 252, 0.0001) 78.63%);
    mix-blend-mode: normal;
    opacity: 0.6;
    border-radius: 0px 60px 0px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.logo-container {
    position: absolute;
    width: 90%;
    height: 198px;
    left: 0px;
    top: 0px;
    background: linear-gradient(243.62deg, #FFFFFF 0%, rgba(255, 255, 255, 0.0001) 78.63%);
    border-radius: 0px 0px 60px 0px;
}

.logo-container-ext {
    height: 60%;
    width: 100%;
}

.logo {
    position: absolute;
    width: 70px;
    height: 28px;
    left: 40px;
    top: 26px;
    /* font-family: 'Commissioner'; */
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 5.625px;
    color: #1B2436;
    mix-blend-mode: normal;
    opacity: 0.3;
}

.survey-intro {
    /* height: 272px; */
    margin-top: 138px;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
}

.survey-intro-title {
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 50px;
    letter-spacing: -0.25px;
    color: #1B2436;
}

.survey-intro-desc {
    margin-top: 2rem;
    /* font-family: 'Commissioner'; */
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    color: #7A879F;
    text-align: justify;
    text-justify: inter-word;
}

.card-gift {
    margin-top: -130px;
    z-index: 3;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(110, 145, 209, 0.0789829);
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

.card-gift-info {
    margin-top: 70px !important;
}

.card-gift .row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-gift .svg-gift {
    position: relative;
    margin-top: -50px;
    margin-left: -15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.card-gift .card-gift-title {
    /* font-family: 'Commissioner'; */
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    color: #BAC1CD;
}

.card-gift .card-gift-img {
    background: linear-gradient(225deg, #2B2E38 0%, #1A1D24 100%);
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.20062), 10px 10px 20px rgba(110, 145, 209, 0.0789829);
    border-radius: 20px;
}

.card-gift .div-card-gift-info .card-amz-gift-title {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    color: #1B2436;
}

.card-gift .div-card-gift-info .card-amz-gift-price {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #BAC1CD;
}

.footer-normal {
    height: auto !important;
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    text-align: center !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
}

.footer-normal .center {
    margin-top: 15px;
    position: relative !important;
    top: 0% !important;
    left: 0% !important;
    /* -ms-transform: translate(-50%, -50%); */
    transform: translate(0%, 0%) !important;
    text-align: center !important;
    /* z-index: 8; */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 140px;
    margin-top: -45px;
    background: linear-gradient(225deg, #2B2E38 0%, #1A1D24 100%);
    border-radius: 0px 60px 0px 0px;
    justify-content: center;
    display: block;
    padding-left: 0px;
    margin-left: -15px;
    margin-right: -15px;
    padding-right: 0px;
    z-index: 9999;
}

.footer .center {
    margin: 0;
    margin-top: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 8;
}

.next-btn {
    position: relative;
    /* width: 334px; */
    /* height: 64px; */
    background: #F0374A;
    border-radius: 32px;
    border: none;
    z-index: 6;
    /* font-family: 'Commissioner'; */
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    /* line-height: 28px; */
    color: #FFFFFF;
    margin-bottom: 35px;
}

.loc-btn {
    background: linear-gradient(225deg, #2B2E38 0%, #1A1D24 100%);
    box-shadow: 10px 10px 20px rgba(110, 145, 209, 0.0789829);
    font-size: 12px !important;
}

.container-address {
    background-color: #00ffff00 !important;
    box-shadow: none !important;
}

.next-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* .footer .next-btn .next-btn-arrow {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 281px;
    top: 10px;
} */

.footer .center .link-survey {
    /* font-family: 'Commissioner'; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    z-index: 8;
}

.w-90 {
    width: 90%;
}

fieldset {
    display: none;
}

.show {
    display: block;
}

.img-later {
    margin-top: 6rem;
    margin-left: -15px;
    z-index: 1;
    width: 70%;
}

.div-decide-later {
    padding-right: 25px;
    padding-left: 25px;
}

.div-decide-desc {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    color: #7A879F;
}

.ptb-32 {
    padding-bottom: 32px;
    padding-top: 32px;
}

body {
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
    font-family: Commissioner;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height, or 118% */
    text-align: center;
    letter-spacing: 0.5px;
    color: #7D8A9F;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    border-radius: 50%;
    margin: 0px auto 10px 0px;
    border: none;
    text-align: center;
    background-color: white;
    z-index: 99;
    position: relative;
    background: #F0374A;
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.20062), 10px 10px 20px rgba(110, 145, 209, 0.0789829);
    font-family: Commissioner;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}


/*progressbar connectors*/

#progressbar li:after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: -50%;
    top: 25px;
    z-index: 1;
    background: #1B2436;
    mix-blend-mode: normal;
    opacity: 0.05;
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

#progressbar li.active {
    color: #7D8A9F;
}

#progressbar li.active::before {
    background: #F0374A;
}

#progressbar li.inactive, #progressbar li.done {
    color: #BAC1CD;
}

#progressbar li.inactive::before {
    background: #DFE5EF;
}

#progressbar li.done::before {
    background: #F7C2C7;
}

#progressbar li span {
    margin-left: -30px;
}

input, textarea, select {
    background-color: #F3F5F9 !important;
    border: none !important;
    border-radius: 1rem !important;
    font-family: Commissioner;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 28px !important;
    /* identical to box height, or 200% */
    color: #BAC1CD !important;
    padding: 25px 25px 25px 25px !important;
}

::placeholder {
    font-family: Commissioner;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    color: #BAC1CD !important;
    opacity: 1;
}

.container-survey label, .container-review label {
    font-family: Commissioner !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 12px !important;
    line-height: 15px !important;
    /* identical to box height, or 150% */
    letter-spacing: 1.66667px !important;
    color: #1B2436 !important;
    margin-left: 0.75rem;
}

.container-survey hr {
    background: #1B2436;
    mix-blend-mode: normal;
    opacity: 0.05;
}

.div-hr {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.container-survey a {
    font-family: Commissioner;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    /* identical to box height, or 215% */
    text-decoration-line: underline;
    color: #7A879F;
}

.div-check {
    background-color: #F2F2F2 !important;
    box-shadow: none;
}

.div-terms label {
    font-family: Commissioner;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    line-height: 22px !important;
    /* identical to box height, or 147% */
    color: #7A879F !important;
}

/* .footer-main {
    position: relative !important;
    margin-top: 10px;
} */

.div-question {
    font-family: Commissioner;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */
    text-align: center;
    letter-spacing: 2px;
    color: #BAC1CD;
}

.vue-star-rating {
    justify-content: center;
}


.div-answer .form-check {
    background: #F3F5F9;
    border-radius: 20px;
}


.pretty {
    margin-right: 0 !important;
    white-space: normal !important;
    width: 100%;
}
.pretty .state label {
    text-indent: 0 !important;
}

.pretty .state label > span {
    display: inline-block !important;
    padding-left: 1.8em !important;
    line-height: 1.3em !important;
}

.pretty .state label::after, .pretty .state label::before {
    top: 1px !important;
}

.pretty.p-icon .state .icon {
    top: 1px !important;
}

.pretty span {
    font-family: Commissioner;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 12px;
    margin-left: 1rem;
    /* identical to box height, or 187% */
    color: #7A879F;
}

.pretty input:checked~.state.p-success label:after, .pretty.p-toggle .state.p-success label:after {
    background-color: #F0374A !important;
}

.card-amz {
    background: linear-gradient(225deg, #2B2E38 0%, #1A1D24 100%);
    box-shadow: 10px 10px 20px rgba(110, 145, 209, 0.0789829);
}

.text-card-amz {
    font-family: Commissioner;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    /* or 187% */

    text-align: center;

    color: #FFFFFF;
}

.text-proceed {
    font-family: Commissioner;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    /* identical to box height, or 187% */

    text-align: center;

    color: #7A879F;
}

.down-arrow {
    mix-blend-mode: normal;
    opacity: 0.5;
}

.guide-fill-survey {
    font-family: Commissioner;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    /* or 187% */

    text-align: center;

    color: #7A879F;
}

.container-end {
    margin-top: 30px;
    height: 110%;
    background: linear-gradient(225deg, #2B2E38 0%, #1A1D24 100%);
    border-radius: 0px 60px 0px 0px;
}

#p6 .logo-container-ext {
    height: 18%;
    width: 100%;
    z-index: -1;
}

#p6 .survey-main {
    margin-top: 0% !important;
}

#p6 .survey-intro-title, #p6 .survey-intro-desc {
    color: white !important
}

#p6 .survey-intro-title {
    padding-top: 4rem !important;
}

#p6 .logo {
    color: #ffffff !important;
    position: relative !important;
    left: 0px !important;
}

.img-end {
    margin-top: 2rem;
    width: 70%;
}

.col-img-end {
    padding-left: -10%;
}

.pl-10 {
    padding-left: 10% !important;
}

.pr-10 {
    padding-right: 10% !important;
}

.footer-end {
    background: none !important;
    /* height: 100% !important;
    margin-top: 0px !important; */
    border-radius: 0px 0px 0px 0px !important;
}