html{
    width:100%;
    height:100%;
    
}

#main_div {
    height: 100%;
    width: 100%;
}


body {
    font-family: Commissioner;
    background-color: #F2F2F2;
    padding: 0;
    margin: 0;
}

fieldset {
    position: relative;
    display: none;
}

.div-progress {
    top: 5%;
    position: absolute;
    width: 100%;
}

.show, .fshow {
    display: block;
}

.top-poly {
    position: absolute;
    width: 50%;
    height: 36%;
    left: 0px;
    top: 0px;

    /* background-color: green; */
    background: linear-gradient(243.62deg, #FFFFFF 0%, rgba(255, 255, 255, 0.0001) 78.63%);
    border-radius: 0px 0px 60px 0px;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
}

.container-intro, .logo {
    display: grid;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

.logo {
    margin-top: 5%;
    position: absolute;
    width: 70px;
    height: 28px;
    /* left: 40px; */
    /* left: 105px; */
    top: 26px;
    /* font-family: 'Commissioner'; */
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 5.625px;
    color: #1B2436;
    mix-blend-mode: normal;
    opacity: 0.3;
    
}

.logo-end {
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    letter-spacing: 5.625px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.3;
}

.container-intro {
    display: grid;
    margin-left: 0rem;
    margin-right: 0rem;
}

.survey-intro {
    margin-top: calc(27%);
    display: block;
}

.survey-intro-title {
    font-family: Commissioner;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.333333px;
    color: #1B2436;
}

.container-end .survey-intro-title {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 50px;
    /* identical to box height, or 104% */

    letter-spacing: -0.25px;

    color: #FFFFFF;
}

.survey-intro-desc {
    font-family: Commissioner;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #7A879F;
    margin-top: 2rem;
    /* margin-top: -3rem; */
}

.container-card-gift {
    position: absolute;
    top: 30%;
    left: 40%;
}

.onsite-container-card-gift {
    width: 60% !important;
}

.card-gift {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(110, 145, 209, 0.0789829);
    border-radius: 20px;
    padding-top: 15px;
}

.card-gift-info {
    margin-top: 70px !important;
}

.card-gift .row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-gift .row-img {
    padding-bottom: 20px;
}

.card-gift .svg-gift {
    position: relative;
    margin-top: -50px;
    margin-left: -15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.card-gift .card-gift-title {
    /* font-family: 'Commissioner'; */
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    color: #BAC1CD;
}

.card-gift .card-gift-img {
    background: linear-gradient(225deg, #2B2E38 0%, #1A1D24 100%);
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.20062), 10px 10px 20px rgba(110, 145, 209, 0.0789829);
    border-radius: 20px;
}

.card-gift .div-card-gift-info .card-amz-gift-title {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    color: #1B2436;
}

.card-gift .div-card-gift-info .card-amz-gift-price {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #BAC1CD;
}

.left-poly {
    position: absolute;
    width: 25%;
    height: calc(100% - 90px);
    overflow: overlay;
    right: 0%;
    margin-top: 90px;
    background: linear-gradient(243.62deg, #D8E0F0 0%, rgba(241, 245, 252, 0.0001) 78.63%);
    mix-blend-mode: normal;
    opacity: 0.6;
    border-radius: 0px 60px 0px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.bottom-poly {
    width: 60%;
    height: 55%;
    right: 0;
    bottom: 0;
    position: fixed;
    /* background-color: rebeccapurple; */
    background: linear-gradient(243.62deg, #D8E0F0 0%, rgba(241, 245, 252, 0.0001) 78.63%);
    mix-blend-mode: normal;
    opacity: 0.6;
    border-radius: 0px 60px 0px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.custom-checkbox .custom-control-label::before {
    background-color: #DBE3EF !important;
    border-radius: 6px !important;
}

.container-intro {
    position: relative;
}

.footer-normal {
    height: auto !important;
    position: fixed !important;
    left: 0 !important;
    /* bottom: 0 !important; */
    text-align: center !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
}

.footer-normal .center {
    margin-top: 15px;
    position: relative !important;
    top: 0% !important;
    left: 0% !important;
    /* -ms-transform: translate(-50%, -50%); */
    transform: translate(0%, 0%) !important;
    text-align: center !important;
    /* z-index: 8; */
}

.footer {  
    /* float: right; */
    position: fixed;
    height: auto;
    background: linear-gradient(225deg, #2B2E38 0%, #1A1D24 100%);
    border-radius: 60px 0px 0px 0px;
    bottom: 0;
    width: calc(100% - 5rem);
    right: 0;
}

.footer .center {
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.next-btn {
    background: #F0374A;
    border-radius: 32px;
    border: none;

    margin-top: 5px;
    margin-bottom: 5px;

    font-family: Commissioner;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    width: 334px;
    height: 64px;

    position: relative;
}

.next-btn-end span {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    text-align: center;

    color: #FFFFFF;
}

.next-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.footer .center .link-survey {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    /* z-index: 8; */
}

.w-90 {
    width: 90%;
}

.div-img-later {
    position: absolute;
    top: 15%;
    right: 8%;
}
/* 
.img-later {
    margin-top: 6rem;
    margin-left: -15px;
    z-index: 1;
    width: 70%;
} */

body {
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
    font-family: Commissioner;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height, or 118% */
    text-align: center;
    letter-spacing: 0.5px;
    color: #7D8A9F;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: block;
    border-radius: 50%;
    margin: 0px auto 10px 15px;
    border: none;
    text-align: center;
    background-color: white;
    position: relative;
    background: #F0374A;
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.20062), 10px 10px 20px rgba(110, 145, 209, 0.0789829);
    font-family: Commissioner;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}


/*progressbar connectors*/

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: -75%;
    top: 16px;
    z-index: -1;
    background: #1B2436;
    mix-blend-mode: normal;
    opacity: 0.05;
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

#progressbar li.active {
    color: #7D8A9F;
}

#progressbar li.active::before {
    background: #F0374A;
}

#progressbar li.inactive, #progressbar li.done {
    color: #BAC1CD;
}

#progressbar li.inactive::before {
    background: #DFE5EF;
}

#progressbar li.done::before {
    background: #F7C2C7;
}

#progressbar li span {
    margin-left: -30px;
}

input, textarea, select {
    background-color: #F3F5F9 !important;
    border: none !important;
    border-radius: 1rem !important;
    font-family: Commissioner;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 28px !important;
    /* identical to box height, or 200% */
    color: #BAC1CD !important;
    padding: 25px 25px 25px 25px !important;
}

::placeholder {
    font-family: Commissioner;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    color: #BAC1CD !important;
    opacity: 1;
}

.container-survey label, .container-review label {
    font-family: Commissioner !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 11px !important;
    line-height: 15px !important;
    /* identical to box height, or 150% */
    letter-spacing: 1.66667px !important;
    color: #1B2436 !important;
    margin-left: 0.75rem;

}

.container-survey a {
    font-family: Commissioner;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    /* identical to box height, or 215% */
    text-decoration-line: underline;
    color: #7A879F;
}

.div-terms label {
    font-family: Commissioner;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 15px !important;
    line-height: 22px !important;
    /* identical to box height, or 147% */
    color: #7A879F !important;
}

.div-check {
    background-color: #F2F2F200 !important;
    box-shadow: none;
}

.container-survey hr {
    background: #1B2436;
    mix-blend-mode: normal;
    opacity: 0.05;
}

.div-hr {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.ptb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.div-question {
    font-family: Commissioner;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */
    text-align: center;
    letter-spacing: 2px;
    color: #BAC1CD;
}

.vue-star-rating {
    justify-content: center;
}


.div-answer .form-check {
    background: #F3F5F9;
    border-radius: 20px;
}


.pretty {
    margin-right: 0 !important;
    white-space: normal !important;
    width: 100%;
}
.pretty .state label {
    text-indent: 0 !important;
}

.pretty .state label > span {
    display: inline-block !important;
    padding-left: 1.8em !important;
    line-height: 1.3em !important;
}

.pretty .state label::after, .pretty .state label::before {
    top: 1px !important;
}

.pretty.p-icon .state .icon {
    top: 1px !important;
}

.pretty span {
    font-family: Commissioner;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 12px;
    margin-left: 1rem;
    /* identical to box height, or 187% */
    color: #7A879F;
}

.pretty input:checked~.state.p-success label:after, .pretty.p-toggle .state.p-success label:after {
    background-color: #F0374A !important;
}

.card-amz {
    background: linear-gradient(225deg, #2B2E38 0%, #1A1D24 100%);
    box-shadow: 10px 10px 20px rgba(110, 145, 209, 0.0789829);
    padding-bottom: 15px;
}

.text-card-amz {
    font-family: Commissioner;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    /* or 187% */

    text-align: center;

    color: #FFFFFF;
}

.text-proceed {
    font-family: Commissioner;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    /* identical to box height, or 187% */

    text-align: center;

    color: #7A879F;
}

.down-arrow {
    mix-blend-mode: normal;
    opacity: 0.5;
}

.container-main-form {
    left: 35%;
    width: 65%;
}

.guide-fill-survey {
    font-family: Commissioner;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    /* or 187% */

    text-align: center;

    color: #7A879F;
}

.container-end {
    background: linear-gradient(225deg, #2B2E38 0%, #1A1D24 100%);
    border-radius: 30px;
}

.div-fol-end {
    height: 6rem;
}

.mb-footer, .mb-div {
    margin-bottom: 10rem;
}

.loc-btn {
    background: linear-gradient(225deg, #2B2E38 0%, #1A1D24 100%);
    box-shadow: 10px 10px 20px rgba(110, 145, 209, 0.0789829);
    font-size: 12px !important;
}

.container-address {
    background-color: #00ffff00 !important;
    box-shadow: none !important;
}


@media (max-width: 575.98px) {
    #progressbar li span {
        margin-left: -30% !important;
    }
}

@media (max-width: 767.98px) {
    #progressbar li span {
        margin-left: -50% !important;
    }
}

@media (max-width: 991.98px) { 
    .div-img-later {
        display: none !important;
    }


    .container-main-form {
        left: 0%;
        margin: auto;
        margin-top: 75px;
        width: 100%;
        /* margin-bottom: 475px; */
    }

    .container-survey {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .left-poly, .top-poly, .bottom-poly {
        background: #FFFFFF00 !important;
    }

    .container-intro {
        margin-bottom: 300px;
    }

    .footer {
        width: 100%;
        border-radius: 0px;
    }

    .center .col-3, .center .col-5 {
        width: 50% !important;
        max-width: 25% !important;
        padding: 0 !important;
        margin-right: 0 !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
        margin-left: 10px !important;
    }

    .center .col-3 {
        text-align: left!important;
    }

    .center .col-4 {
        display: none;
    }

    .div-progress .col-lg-8 {
        display: none;
    }

    .div-progress .col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 40px !important;
    }

    .survey-intro-title {
        margin-top: 190px !important;
    }

    .container-card-gift {
        position: relative !important;
        margin-top: 60px !important;
        top: 0%;
        left: 0%;
        margin-bottom: 110px !important;
    }

    .card-gift {
        max-width: 720px;
    }

    .card-amz {
        margin: auto !important;
    }

    .container-address {
        margin: auto;
    }

    #progressbar li span {
        margin-left: -70% !important;
    }
 }

@media (max-width: 1199.98px) {
    #p6 .next-btn {
        width: 261px !important;
    }
}
/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) { 
    .survey-intro {
        margin-top: 180px !important;
    }

    .top-poly {
        height: 277px !important;
    }

    .container-card-gift {
        top: 225px !important;
    }

    #progressbar li span {
        margin-left: 0px !important;
    }

    .div-terms label {
        padding-left: 0rem!important;
        font-size: 14px !important;
    }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) { 
    .survey-intro {
        margin-top: 185px !important;
    }
    .top-poly {
        height: 277px !important;
    }

    .container-card-gift {
        top: 240px !important;
    }

    #progressbar li span {
        margin-left: -20px !important;
    }

    .div-terms label {
        padding-left: 1rem!important;
        font-size: 15px !important;
    }
}


@media screen and (min-width: 1400px) {
    .container-main-form {
        left: 250px;
        width: 350px;
    }

    #progressbar li span {
        margin-left: -40px !important;
    }

    .survey-intro-title {
        width: 600px !important;
    }
}


@media screen and (min-width: 1600px) {
    .container-main-form {
        left: 350px;
    }

    #progressbar li span {
        margin-left: -80px !important;
    }
}


@media screen and (max-height: 600px) {
    .container-fluid {
        margin-bottom: 10rem !important;
    }
}